// TODO terminar de estilizar o menu lateral
$headerColor: rgba(0, 0, 0, 0.5);
$textColor: #ffffff;
$headerColorSmall: black;

.header {
  position: relative;
  background-color: $headerColor;
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  z-index: 2;

  &__toggle {
    display: none;
  }
  
  &__menu-hidden {
    opacity: 0;
    z-index: -1;
    position: absolute;
    display: flex;
    width: 40%;
    height: 100vh;
    background: $headerColorSmall;
    right: -400px;
    transition: 0.3s;

    ul{
      position: relative;
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      
      li {
        display: flex;
        list-style: none;
        padding-top: 40px;
        a {
          display: block;
          font-weight: bold;
          text-decoration: none;
          color: white;
          font-size: 30px;
        }
      }
    } 
    &-brand {
      position: absolute;
      bottom: 30px;
      img{
        width: 100px;
        display: block;
      }
      
    }
    &::before {
      position: absolute;
      left: 600px;
      content: '';
      width: 200%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__menu-item {
    font-size: 15px;
    font-weight: 600;
    color: white;
    text-align: center;
    text-decoration: none;
    align-items: center;
    &:hover {
      color: greenyellow;
    }

    & + & {
      margin-left: 25px;
    }

    &--with-button {
      position: relative;
      color: white;
      background: transparent;
      display: flex;
      border: 0;
      cursor: pointer;
      padding: 0;
      outline: none;
      
      &::before {
        content: '';
        background: white;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        display: block;
      }
    }

    &--with-arrow {
      display: flex;
      align-items: center;
      
      &::after {
        content: '>';
        transform: rotate(90deg);
        color: white;  
        margin-left: 10px; 
      }

      &:hover::after {
        content: '>';
        transform: rotate(90deg);
        color: greenyellow;  
        margin-left: 10px;
      }
    }
  }

  &__menu-image {
    margin-right: 25px;
    border-radius: 500rem;
    width: 30px;
    display: block;
    margin-left: 25px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__brand {
    width: 135px;
    display: block;
    
    img {
      width: 100%;
      display: block;
    }
  }
}

@media  (max-width: 1000px) {
  .header {
    background: $headerColorSmall;
    &__menu {
      &-item {
        display: none;
      }
    }

    &__toggle {
      display: block;
      position: relative;
      width: 30px;
      height: 30px;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #fff;
        z-index: 1;
        transition: 0.5s;
      }
      &::before {
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #fff;
        z-index: 1;
        box-shadow: 0 10px 0 #fff;
        transition: 0.5s;
      }
    }
  
    &__active{
       
      .header__toggle::before {
        top: 14px;
        transform: rotate(-45deg);
        box-shadow: 0 0 0 #fff;
      }

      .header__toggle::after {
        top: 14px;
        transform: rotate(45deg);
      }

      .header__menu-hidden {
        opacity: 1;
        z-index: -1;
        position: absolute;
        display: flex;
        width: 40%;
        height: 100vh;
        background: $headerColorSmall;
        right: -1px;
        transition: 0.5s;
    
        ul{
          position: relative;
          padding-top: 30px;
          display: flex;
          flex-direction: column;
          
          li {
            display: flex;
            list-style: none;
            padding-top: 40px;
            a {
              display: block;
              font-weight: bold;
              text-decoration: none;
              color: white;
              font-size: 30px;
            }
          }
        } 
        &-brand {
          position: absolute;
          bottom: 30px;
          img{
            width: 100px;
            display: block;
          }
        }
        &::before {
          
          position: absolute;
          left: -1000px;
          content: '';
          width: 300%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
        }
      }

    }
  }
}



